 .SearchDiv {
  margin-top: 1.6rem;
  height: 30px;
  border-radius: 2rem;
  background-color: aliceblue;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1.5px solid #646cffaa;
}

.SearchForm {
  display: flex;
  align-items: center;
  background-color: transparent;
}


input[type="search"] {
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 2rem;
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 10px;
}

button i {
  color: #646cffaa; 
}